
.hamburger {
 background-color: #1E3A8A;
 height: 50px;
 align-content: center;

 padding-left: 12px;
 padding-right: 12px;

 border-radius: 8px;
 border: none;
 cursor: pointer;
 display: none;
 transition: 
  background-color 0.2s ease,
  transform 0.15s ease,
  box-shadow 0.15s ease;

}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  
  /* Optional: hide normal nav if you have one */
  /* .desktop-nav { display: none; } */
}

.hamburger:hover{
    background-color: #4F75E1;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2.5rem;
}

.View_work{
    color: var(--warm-highlights);
    background-color: #1E3A8A;
    height: 50px;
    align-content: center;
    border-radius: 8px;
    
    padding-left: 8px;
    padding-right: 8px ;
    cursor: pointer;
    
    font-size: 16px;
    width:130px;
    transition: 
        background-color 0.2s ease,
        transform 0.15s ease,
        box-shadow 0.15s ease;

}

.View_work:hover {
    background-color: #4F75E1;
   
}

.navbar{
  display: none;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 8px; 
    background-color: #1E3A8A;
    display: flex;
    
    overflow: hidden;
    

  }


  .navbar a{
    
    padding: 1rem;
    color: var(--light-text);
    text-align: center;
    /* flex: 1; */
    
    
    width: 80px;
    text-decoration: none;
    transition: 
          background-color 0.2s ease,
          transform 0.15s ease,
          box-shadow 0.15s ease;
  }

  .navbar a:hover {
    background-color: #4F75E1;
    
  }}