.container {
    margin-top: 3rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.githubWidget {
    background-color: #F5F5F5;
    color: var(--bg);


    border-radius: 16px;
    width: 25%;
    height: 72px;

    display: flex;
    flex-direction: column;

    padding-top: 8px;
    font-size: 14px;
    font-weight: 500;

    box-shadow: 0 4px 10px rgba(0,0,0,0.12);

    transition:
        background-color 0.2s ease,
        transform 0.1s ease,
        box-shadow 0.1s ease;
    }

.emailWidget {
    background-color:#FFFFFF;

    color: var(--bg);
    border-radius: 16px;
    width: 25%;
    height: 72px;

    display: flex;
    flex-direction: column;

    padding-top: 8px;
    font-size: 14px;
    font-weight: 500;
}


.linkedinWidget {
    background-color:#FFFFFF;
    color: var(--bg);
    border-radius: 16px;
    width: 25%;
    height: 72px;

    display: flex;
    flex-direction: column;

    padding-top: 8px;
    font-size: 14px;
    font-weight: 500;
}



.githubWidget:hover{
    background-color: #24292F ;
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
.linkedinWidget:hover{
    background-color: #0A66C2 ;
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
.emailWidget:hover{
    background-color: #EA4335 ;
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.githubWidget:active, .githubWidget:active, .linkedinWidget:active {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

