.container{
    border: 3px;
    border-color: var(--light-text);
    border-style: solid;
    border-radius: 16px;

    padding: 10%;
    
}

   

.image{
    border-radius: 50%;
    object-fit: cover;
    width: 150px;
    height: 150px;

    
}


.Header {
    font-weight: 400;
    font-size: 36px;
    /* background-color: black; */

    width: fit-content;
    height: fit-content;

    
    margin: 0px;
    /* margin-top: 8px; */
    line-height: 1;
}

.intro {
    color: var(--secondary-text);
    font-size: 16px;
    /* background-color: aqua; */

    width: fit-content;
    height: fit-content;
   
    margin: 0px;
    margin-top: 20px;
    line-height: 1;
    
}

