.container{
    border: 3px;
    border-color: var(--light-text);
    border-style: solid;
    border-radius: 16px;

    padding: 40px;
    height: 360px;
}

.image{
    border-radius: 50%;
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.im {
    color: var(--light-text);

    font-weight: 100;
    font-size: 36px;
}

.name {
    font-weight: 400;
    font-size: 36px;
}

.title {
    color: var(--secondary-text);
    font-size: 16px;
}

