.container {
    margin-top: 3rem;
    height: 360px;
    background-color: var(--warm-highlights);
    

    padding: 40px;
    border-radius: 16px;

    color: var(--bg);
    font-size: 18;
    font-weight: 400;

    display: flex;
    justify-content:left;

}

